openapi: 3.2.0
info:
  title: Kushki Card Present Terminals API
  description: 'Process in-person EMV chip, contactless, and PIN-pad transactions through Kushki One

    terminals. The Raw Card Present API exchanges sealed card data (encryption envelope

    sourced from the terminal) for a charge response.'
  version: 1.0.0
  contact:
    name: Kushki
    url: https://kushkipagos.com/
    email: dev@kushkipagos.com
servers:
- url: https://api.kushkipagos.com
  description: Production
- url: https://api-uat.kushkipagos.com
  description: UAT / Sandbox
security:
- PrivateMerchantId: []
tags:
- name: Terminals
  description: Kushki One terminal management
paths:
  /cardpresent/v1/terminals:
    get:
      summary: Kushki List Terminals
      description: List Kushki One terminals registered to the merchant.
      operationId: listTerminals
      tags:
      - Terminals
      responses:
        '200':
          description: Terminals
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Terminal'
  /cardpresent/v1/terminals/{terminalId}:
    get:
      summary: Kushki Get Terminal
      description: Retrieve a Kushki One terminal by its identifier.
      operationId: getTerminal
      tags:
      - Terminals
      parameters:
      - name: terminalId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Terminal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Terminal'
components:
  schemas:
    Terminal:
      type: object
      properties:
        terminalId:
          type: string
        serialNumber:
          type: string
        model:
          type: string
        status:
          type: string
          enum:
          - ACTIVE
          - INACTIVE
          - MAINTENANCE
        branchId:
          type: string
        lastSeen:
          type: string
          format: date-time
  securitySchemes:
    PrivateMerchantId:
      type: apiKey
      in: header
      name: Private-Merchant-Id
