openapi: 3.2.0
info:
  title: Kushki Card Present Card Present Charges API
  description: 'Process in-person EMV chip, contactless, and PIN-pad transactions through Kushki One

    terminals. The Raw Card Present API exchanges sealed card data (encryption envelope

    sourced from the terminal) for a charge response.'
  version: 1.0.0
  contact:
    name: Kushki
    url: https://kushkipagos.com/
    email: dev@kushkipagos.com
servers:
- url: https://api.kushkipagos.com
  description: Production
- url: https://api-uat.kushkipagos.com
  description: UAT / Sandbox
security:
- PrivateMerchantId: []
tags:
- name: Card Present Charges
  description: Sale, void, and settlement for card-present
paths:
  /cardpresent/v1/charges:
    post:
      summary: Kushki Create Card Present Charge
      description: Create a card-present charge from an EMV/contactless transaction sealed by the terminal.
      operationId: createCardPresentCharge
      tags:
      - Card Present Charges
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardPresentChargeRequest'
      responses:
        '200':
          description: Charge approved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardPresentChargeResponse'
  /cardpresent/v1/charges/{ticketNumber}/void:
    post:
      summary: Kushki Void Card Present Charge
      description: Void a card-present charge.
      operationId: voidCardPresentCharge
      tags:
      - Card Present Charges
      parameters:
      - name: ticketNumber
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Voided
components:
  schemas:
    CardPresentChargeRequest:
      type: object
      required:
      - terminalId
      - sealedCard
      - amount
      properties:
        terminalId:
          type: string
        sealedCard:
          type: object
          description: Encryption envelope sourced from the terminal.
          properties:
            ksn:
              type: string
            track2:
              type: string
            emvData:
              type: string
            pinBlock:
              type: string
        amount:
          type: object
          required:
          - value
          - currency
          properties:
            value:
              type: number
            currency:
              type: string
        entryMode:
          type: string
          enum:
          - CHIP
          - CONTACTLESS
          - MAG_STRIPE
          - MANUAL
        deferred:
          type: object
          properties:
            months:
              type: integer
    CardPresentChargeResponse:
      type: object
      properties:
        ticketNumber:
          type: string
        approvalCode:
          type: string
        responseText:
          type: string
        responseCode:
          type: string
        cardBrand:
          type: string
        last4:
          type: string
        entryMode:
          type: string
  securitySchemes:
    PrivateMerchantId:
      type: apiKey
      in: header
      name: Private-Merchant-Id
